@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h4>@ViewData["Title"]</h4>
<hr />

<vc:Summary></vc:Summary>

@*<p supress-by-claim-name="Produto" supress-by-claim-value="Adicionar">
        <a class="btn btn-info" asp-action="Create">Novo Produto</a>
    </p>*@

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<partial name="_ListaProdutos" />
